body {
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
}

.topic {
    background: 
    url("../static/Springfield.jpeg")
    no-repeat fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    background-color: brown;
}

#grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
}

#map-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#country-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#timeline-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#grid-container>div {
    /* temporary until divs have content */
    min-height: 180px;
    border: 1px solid black;
}

.active {
    fill: #98f5ff;
}